*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
.input-group{
    padding: 4px 10px;
    border-radius: 4px;
}
.input-group:focus{
    border: 2px solid navy;
}
.list-group-item{
    overflow: auto;
}
.fa{
    margin-left: 8px;
}