*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.input-group{
    padding: 4px 10px;
    border-radius: 4px;
}
.input-group:focus{
    border: 2px solid navy;
}
.list-group-item{
    word-wrap: break-word;
    word-break: break-all;
}
.fa{
    margin-left: 10px;
}